<h1>Редактирование параметра</h1>

<%= render 'form' %>

<%= link_to 'Просмотр', @item %> |
<%= link_to 'Удал', @item, method: :delete, data: { confirm: 'Уверен?' } %> |
<%= link_to 'Список', items_path %>
